<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="main">
        <div>
            <form action="/profile" method="post" enctype="multipart/form-data">
                <input type="file" name="img" placeholder="Upload Images /.jpeg / .png / .jpg">
                <input type="submit" value="Upload">
            </form>
        </div>
    </section>
</body>
</html>